@page
@model LedMatrix.Pages.Draw.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Draw</h1>

<div>
    <button class="btn-primary pixel">Pixel</button>
</div>

@section Scripts{

<script>
    $(document).ready(function () {
        $('.pixel').click(function () {
            $.ajax({
                type: "POST",
                url: "api/Pixel",
                contentType: "application/json",
                data: JSON.stringify({
                    X: 4,
                    Y: 1,
                    R: 255,
                    G: 255,
                    B: 0,
                }),
                dataType: "json",
            })
            .done(function (result) {
                console.log(result);
            })
        });
    });
</script>
}
