@page
@model LedMatrix.Pages.ScrollingText.IndexModel
@{
    ViewData["Title"] = "Index";
}
<h1 class="row">Scrolling Text</h1>
<div class=""> 
    <div class="row">
        <label class="col-form-label mr-2">Enter text to scroll:</label>
        <input class="input-group-text" id="textToScroll" />
        <input class="btn btn-light ml-2" type="button" value="Submit" id="submitButton" />
    </div>
    <br />
    <div class="row">
        <label class="col-form-label mr-2">Number of times to scroll:</label>
        <input class="input-group-text" id="iterations" type="number" value="1" min="1" />
    </div>
</div>

@section Scripts{ 
    <script>
        $(document).ready(function () {
            $('#submitButton').click(function () {
                let sendText = $('#textToScroll').val();
                $.ajax({
                    type: "POST",
                    url: "api/ScrollText",
                    contentType: "application/json",
                    data: JSON.stringify({
                        Text: sendText,
                        Iterations: parseInt($('#iterations').val()),
                    }),
                    dataType: "json",
                })
                .done(function (result) {
                    console.log(result);
                });
            });
        });
    </script>
}

