@page
@model LedMatrix.Pages.ScrollingText.IndexModel
@{
    ViewData["Title"] = "Index";
}
<h1 class="row">Scrolling Text</h1>
<div class=""> 
    <div class="row">
        <label class="col-form-label mr-2">Enter text to scroll:</label>
        <input class="input-group-text" id="textToScroll" />
        <input class="btn btn-light ml-2" type="button" value="Submit" id="submitButton" />
    </div>
    <br />
    <div class="row">
        <label class="col-form-label mr-2">Number of times to scroll:</label>
        <input class="input-group-text" id="iterations" type="number" value="1" min="1" />
    </div>
    <div class="row">
        <label>Select Color:</label>
    </div>
    <canvas id="colorPicker" height="@(255 * 2)" width="@(255 * 2)"></canvas>
    <input type="range" min="0" max="255" value="127" id="blueSlider" step="1" class="custom-range w-100" />
    <div id="selectedColor"><br /><br /></div>
</div>

@section Scripts{ 

    <script src="~/js/colorPicker.js"></script>
    <script>
        const ENTER = 13;
        $(document).ready(function () {
            function sendTextToScroll () {
                let sendText = $('#textToScroll').val();
                let rgb = cellColor.match(/\d+/g);
                $.ajax({
                    type: "POST",
                    url: "api/ScrollText",
                    contentType: "application/json",
                    data: JSON.stringify({
                        Text: sendText,
                        Iterations: parseInt($('#iterations').val()),
                        R: parseInt(rgb[0]),
                        G: parseInt(rgb[1]),
                        B: parseInt(rgb[2]),
                    }),
                    dataType: "json",
                })
                .done(function (result) {
                    console.log(result);
                });
            }
            $('#submitButton').click(sendTextToScroll);
            $('#textToScroll').bind("keypress", function (event) {
                if (event.which == ENTER) {
                    event.preventDefault();
                    sendTextToScroll();
                }
            });
    });
    </script>
}

